body {
    background: crimson;
    font-family: "Comic Sans MS";
}
#game-container {
    text-align: center;
}

#popup-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: crimson;
    border: 1px solid #000000;
    color: aliceblue;
    border-radius: 20px;
    text-align: center;
    z-index: 9999;
}


#start-popup h3 {
    margin-top: 0;
}

.button {
    font-family: "Comic Sans MS";
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: dodgerblue;
    border: none;
    color: aliceblue;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.button:hover {
    background-color: aliceblue;
    color: dodgerblue;
    transform: scale(1.1);
}

#remove-btn {
    position: absolute;
    top: 50%;
    left: 47%;
}

#marbles-left {
    color: aliceblue;
    font-family: "Comic Sans MS";
    font-size: xx-large;
    font-weight: bold;
    margin-top: 150px;
}

.marble {
    width: 50px;
    height: 50px;
    border-radius: 360px;
    border: none;
    background: radial-gradient(circle at 65% 15%, white 1px, aqua 3%, darkblue 60%, aqua 100%);
    display: inline-block;
    margin: 150px 2px 60px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s;
}

.marble:hover {
    transform: scale(0.9);
}

.marble.selected {
    background: radial-gradient(circle at 65% 15%, #b1b1b1 1px, #038d8d 3%, #010156 60%, #038d8d 100%);
}

h1 {
    text-align: center;
}